<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Did you forgot your password ?</title>
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/styles.css" />
</head>
<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Reset Password</div>
      <div class="card-body">
        <#if !message??>
          <div class="text-center mt-4 mb-5">
            <h4>Did you forgot your password ?</h4>
            <p>Enter your email address and we will send you instructions on how to reset your password.</p>
          </div>
          <form method="POST" action="forgot-password">
            <div class="form-group">
              <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" name="email"
                     placeholder="Enter email address" required autofocus>
            </div>
            <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
          </form>
        </#if>
        <#if message??>
          <div class="text-center mt-4 mb-5">
            <h4>Check your mailbox </h4>
            <p>We sent an email for reset your password.</p>
          </div>
        </#if>
        <div class="text-center">
          <a class="d-block small mt-3" href="register">Register an Account</a>
          <a class="d-block small" href="login">Login Page</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
