<div class="modal-header">
    <h3 class="modal-title">Java - Level 1 : 1#</h3>
</div>
<div class="modal-body">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-sm-12">
                <label>
                    The Spring Framework provides a comprehensive programming and
                    configuration model for modern Java-based enterprise applications
                </label>
            </div>
            <div class="col-sm-12">
                <label class="radio-inline">
                    <input name="radioGroup" value="option1" type="radio"> 1
                </label>
                <label class="radio-inline">
                    <input name="radioGroup" value="option2" checked="" type="radio"> 2
                </label>
                <label class="radio-inline">
                    <input name="radioGroup" value="option3" type="radio"> 3
                </label>
                <label class="radio-inline">
                    <input name="radioGroup" value="option4" type="radio"> 4
                </label>
                <label class="radio-inline">
                    <input name="radioGroup" value="option5" type="radio"> 5
                </label>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="stepwizard">
            <div class="stepwizard-row">
                <div class="stepwizard-step">
                    <button type="button" class="btn btn-default btn-circle">1</button>
                </div>
                <div class="stepwizard-step">
                    <button type="button" class="btn btn-primary btn-circle">2</button>
                </div>
                <div class="stepwizard-step">
                    <button type="button" class="btn btn-default btn-circle">3</button>
                </div>
                <div class="stepwizard-step">
                    <button type="button" class="btn btn-default btn-circle">4</button>
                </div>
                <div class="stepwizard-step">
                    <button type="button" class="btn btn-default btn-circle">5</button>
                </div>
                <div class="stepwizard-step">
                    <button type="button" class="btn btn-default btn-circle">6</button>
                </div>
                <div class="stepwizard-step">
                    <button type="button" class="btn btn-default btn-circle">7</button>
                </div>
                <div class="stepwizard-step">
                    <button type="button" class="btn btn-default btn-circle">8</button>
                </div>
                <div class="stepwizard-step">
                    <button type="button" class="btn btn-default btn-circle">9</button>
                </div>
                <div class="stepwizard-step">
                    <button type="button" class="btn btn-default btn-circle">10</button>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="firstLoginProcess()" ng-if="isLinkedInLogin">Apply</button>
    <button class="btn btn-primary" ng-click="Modal.close()">Close</button>
</div>