<div class="col-sm-12" loading>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Java : Level 1</div>

                <!-- Table -->
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Last Score</th>
                        <th>Duration</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>77</td>
                        <td>23m</td>
                        <td>21/01/2017</td>
                        <td><a ng-click="Modal.open('examsAnswers')">Answers</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /padding -->
</div>